/* BARRA DE NAVEGAÇÃO VERTICAL */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 5px 20px;
    background-image: url(imagens/seta.png);
    background-repeat: no-repeat;
    background-position: left center;
} */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(imagens/menu.png) no-repeat left bottom;
}

ul a:hover{
    color: #fff;
    background: #f99200 url(imagens/menu.png) no-repeat right bottom;
}

#home #navegacao-lateral .home a,
#sobre #navegacao-lateral .sobre a,
#servicos #navegacao-lateral .servicos a,
#noticias #navegacao-lateral .noticias a,
#contato #navegacao-lateral .contato a{
    color: #fff;
    background: #f99200 url(imagens/menu.png) no-repeat right bottom;
}
